:root {
  --bg-colorWhite: #ffffff;
  --text-colorWhite: #ffffff;
  --text-colorBlack: #000000;
  --bg-colorBlack: #1A1A1A;
  --color-green: #00A82D;
  --color-green2: #00d138;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-colorBlack);
  min-width: 300px;
}

header {
  width: 100%;
  height: 80px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-colorBlack);
}

.headerFixed {
  position: fixed;
  width: 100%;
  background-color: var(--bg-colorWhite);
  height: 80px;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1220px;
  height: 100%;
}

#logo {
  max-width: 177px;
  max-height: 40px;
}

#headerLinkHelp, #headerLinkLogin, #headerBtnDownload {
  display: block;
}

.headerNav {
  display: flex;
  flex: 1;
  margin-left: 22px;
}

.headerNavList {
  display: inline;
}

.headerNavList {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-left: 28px;
}

.headerLinks {
  display: flex;
  align-items: center;
  gap: 1em;  
}

#headerBtnDownload {
  width: 120px;
  height: 40px;
}

#menuIcon {
  display: none;
  max-width: 20px;
  max-height: 20px;
}

main {
  width: 100%;
  height: 100vh;
}
